@import '../../index.scss';

.incomesContainer {
    padding: $spacing-unit * 1.5;
    
    .listWrapper {
      margin-top: $spacing-unit;
      background-color: $white;
      border-radius: $border-radius;
      box-shadow: $shadow-sm;
      
      .list {
        list-style: none;
        padding: 0;
      }
    }
   }