@use 'sass:color';
@import '../../index.scss';

.nav {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit;

  .link {
    text-decoration: none;
    color: $text-secondary;
    padding: $spacing-unit;
    border-radius: $border-radius;
    transition: all $transition-duration;
    font-weight: $font-weight-normal;
    
    &:hover {
      background-color: $gray-light;
    }
  }

  .active {
    @extend .link;
    background-color: $pink-light;
    color: $pink-dark;
    font-weight: $font-weight-bold;
  }
}


@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    gap: $spacing-unit;
    }
}