// כללי

  // קישור כללי
  .link {
    text-decoration: none; // ביטול קו תחתון
    color: #555; // צבע טקסט
    font-size: 18px; // גודל טקסט
    font-weight: 500; // עובי טקסט
    padding: 5px 10px; // ריווח פנימי בקישורים
    transition: color 0.3s ease, background-color 0.3s ease; // אנימציה למעבר
  }
  
  // מצב של רחף
  .link:hover {
    color: #0078ff; // צבע טקסט במעבר
    background-color: #e0f0ff; // רקע במעבר
    border-radius: 5px; // פינות מעוגלות
  }
  
  // קישור פעיל
  .active {
    color: #fff; // צבע טקסט
    background-color: #0078ff; // רקע פעיל
    font-weight: 700; // עובי טקסט מודגש
    padding: 5px 12px; // ריווח פנימי נוסף
    border-radius: 5px; // פינות מעוגלות
  }
  