@import '../../index.scss';
.container {
    background-color: $background-color;
    height: 100%;
  
    .wrapper {
      display: flex;
      padding: $spacing-unit * 1.5;
      gap: $spacing-unit * 1.5;
      max-width: 80rem;
      margin: 0 auto;
      height: 100vh;
    }
  
    .mainContent {
      flex-grow: 1;
      background-color: $white;
      border-radius: $border-radius;
      border: 1px solid $border-color;
    }
  
    .sidebar {
      width: 20rem;
      background-color: $white;
      border-radius: $border-radius;
      border: 1px solid $border-color;
      height: 100%;
    }
  }
  

  @media (max-width: 768px) {
    .container {
      .wrapper {
        flex-direction: column-reverse;
        padding: $spacing-unit;
        gap: $spacing-unit;
        height: auto;
        min-height: auto;
      }
  
      .mainContent {
        width: 100%;
        margin-bottom: $spacing-unit;
      }
  
      .sidebar {
        width: 100%;
        height: auto;
      }
    }
  }
  
  @media (max-width: 768px) and (orientation: landscape) {
    .container {
      .wrapper {
        flex-direction: row;
        gap: $spacing-unit;
      }
  
      .sidebar {
        width: 40%;
        min-width: 300px;
      }
  
      .mainContent {
        width: 60%;
      }
    }
  }