@import '../../index.scss';

.container {
    background-color: $background-color;
    height: 100%;
  
    .wrapper {
      display: flex;
      padding: $spacing-unit * 1.5;
      padding-right: 0;
      gap: $spacing-unit * 1.5;
      margin: 0 auto;
      height: 100vh;

      .navigation {
        order: 1;
      }

      .sidebar {
        order: 2;
        width: 20rem;
        background-color: $white;
        border-radius: $border-radius;
        border: 1px solid $border-color;
        height: 100%;
      }

      .mainContent {
        order: 3;
        flex-grow: 2;
        background-color: $white;
        border-radius: $border-radius;
        border: 1px solid $border-color;
        height: 100%;
      }
    }
}
  
@media (max-width: 768px) {
    .container {
      .wrapper {
        flex-direction: column;
        padding: $spacing-unit;
        gap: $spacing-unit;
        height: auto;
        min-height: auto;

        .navigation {
          order: 1;
        }

        .sidebar {
          order: 2;
          width: 100%;
          height: auto;
        }

        .mainContent {
          order: 3;
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
}
  
@media (max-width: 768px) and (orientation: landscape) {
    .container {
      .wrapper {
        flex-direction: row;
        gap: $spacing-unit;

        .navigation {
          order: 1;
        }

        .sidebar {
          order: 2;
          width: 40%;
          min-width: 300px;
        }

        .mainContent {
          order: 3;
          width: 60%;
        }
      }
    }
}